body{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image:url("images/space.jpg")
}

.logo{
    display: flex;
    align-items: center;
    padding:8px 20px;
    text-decoration: none;
}

.logo img{
    height: auto;
    width: 50px;
    border-radius: 60px;
}

.name{
    font-size: large;
    font-family:'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;
}

.bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:12px 40px;
}

.bar .links{
    display:flex;
    gap: 30px;
}

.bar .links a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    color: gainsboro;
    
}
.bar .login{
    cursor: pointer;
    padding: 8px 10px 8px 10px;
    font-weight: bold;
    font-size:1rem;
    background-color: white;
    color: #275360;
    width: 80px;
    border-color: white;
    border-style: solid;
    border-radius:3px;
}

.blur{
     position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
    transition: 0.2s ease;
}

.real-popup .blur{
    opacity: 1;
    pointer-events: auto; 
}

.pop-up{
    /* position: fixed;
    top: 50%;
    left:50%;
    width: 100%;
    background:#fff;
    border:2px solid #fff;
    transform: translate(-50%, -50%); */
    position: fixed;
    top: 50%;
    left: 50%;
    width: 800px;              
    max-width: 95%;   
    /* min-height: 480px;    */
    height:70vh;
    opacity: 0;                   
    pointer-events: none;     
    background: #fff;
    padding: 0;
    border-radius: 8px;
    transform: translate(-50%, -100%);
    z-index: 10000;
}

.real-popup .pop-up{
    opacity: 1;
    pointer-events: auto; 
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease, opacity 0.1s;

}

.close{
    position: absolute;
    top: 15px;
    right: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #878787;
    cursor: pointer;
    user-select: none;
}

/* .close:hover{ */
    /* color: #000; */
/* } */

.pop-up .box{
    display:flex;
    /* width: 100%; */
    align-items: stretch;
    height: 100%;
}

.pop-up .details{
    width:50%;
    height: 100%;
    padding:35px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.details,
.content{
    width: 50%;
}

/* .content { */
    /* background: #fff; */
    /* padding: 30px; */
    /* border-radius: 6px; */
    /* box-shadow: 0 8px 20px rgba(0,0,0,0.08); */
/* } */

.box h2{
    text-align:center;
    margin-bottom: 30px;
}

.box .content{
    padding:35px;
    width: 50%;
}

.box .details{
    /* max-width: 300px; */
    width: 100%;
    color: whitesmoke;
    justify-content: center;
    padding: 0 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: url("images/colorful\ scenery.jpeg");
    background-size: cover;
    background-position: center;
}

.signup .details{
    background: url("images/noice.jpg");
    background-size: cover;
    background-position: center;
}

.field{
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
}
form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.field input {
    /* width: 100%; */
    height: 45px;
    padding: 0 12px;
    /* outline: none; */
    font-size: 0.9rem;
    border-radius: 4px;
    border: 1px solid #717171;
}

.field label{
    /* display: block; */
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
}

form button{
    width: 100%;
    height: 45px;
    outline: none;
    padding: 12px 0;
    margin-top: 20px 0;
    background: #275360;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    background:#1d404a;
}

.forgot{
    text-decoration: none;
    color: #275360;
    font-size: 0.9rem;
    display: block;
    margin: 6px 0 20px;
    text-align: center;

}

.forgot:hover{
    text-decoration: none;
}

.box .link{
    text-align: center;
}

.pop-up .signup,
.pop-up.showup .login{
    display: none;
}

.pop-up.showup .signup{
    display: flex;
}

.signup .policy{
    display: flex;
    align-items: center;
    margin-bottom: 18px; 
}

.signup .policy input{
    width: 12px;
    height: 12px;
    margin-right: 8px;
}



